/* General syntax of CSS (Cascading Style Sheet) */

h1 {
    color:darkslateblue
}

p {
    color:cadetblue
}
body {
	text-align: center;
	background-color: lavender;
	font-family: 'Courier New', Courier, monospace;
}

/* Changing the style by accessing the class attribute of tag . */

.input-placeholder {
    max-width: 150px;
    background-color:rgb(203, 194, 226);
}


.input-placeholder:hover {
    background-color: palevioletred;
    box-shadow: 3px 3px 6px;
}

/* Style the radio buttons as a set of "either or" buttons */
input[type="radio"] {
    display: none; /* Hide the radio button */
  }
  
.radio-label {
display: inline-block;
margin: 0 10px; /* Add some spacing between the labels */
padding: 10px;
font-size: 18px;
color: #555;
background-color: #eee;
border-radius: 4px;
cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
background-color: #514780;
color: #fff;
}